
body {
	background-color: #F8ECE0;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 20px;
}

#orange_text {
	color: #DF7401;
	font-size: 20px;
}

#text_padding {
	padding-left: 16px;
}

#banner {
	background-color: #FAAC58;
}